Flask~=2.0.1
Flask-RESTful
Flask-SQLAlchemy
uwsgi
psycopg2
flask-jwt-extended
marshmallow~=3.13.0
flask-marshmallow
marshmallow-sqlalchemy
requests~=2.26.0
Flask-Uploads
python-dotenv~=0.19.1
Werkzeug==2