Flask
Flask-RESTful
Flask-SQLAlchemy
uwsgi
psycopg2-binary
flask-jwt-extended
marshmallow
flask-marshmallow
flask-migrate
marshmallow-sqlalchemy
requests
Flask-Uploads
Flask-OAuthlib
python-dotenv
Werkzeug
SQLAlchemy
alembic
Authlib
stripe
